footer.section-footer
  .container.footer-grid
    .logo-box
      figure.footer-logo
        a(href='/')
          img(src='/img/logos/main-logo.png' alt='logo of our shop')
      .social-links
        a(href='https://www.facebook.com/ayan.ghanta.42' target='_blank')
          svg.social-link
            use(xlink:href='/img/ssg.svg#facebook')
        a(href='https://twitter.com/AyanGhanta' target='_blank')
          svg.social-link
            use(xlink:href='/img/ssg.svg#twitter')
        a(href='https://www.instagram.com/ayan_ghanta/' target='_blank')
          svg.social-link
            use(xlink:href='/img/ssg.svg#instagram')
      p.coppyRight-text
        | Copyright &copy; 2023 by CookieDaze, Inc. All rights reserved.
    .contact-box
      p.footer-heading Contacts
      address.contacts
        p.address Sabang,Paschim Medinipur,West bengal, 724166
        p
          a.footer-link(href='tel:415-201-6370') 123-456-2345
          br
          a.footer-link(href='mailto:hello@omnifood.com') hey@cookiedaze.com
    .Accounts-box
      p.footer-heading Account
      ul.footer-navs
        li.footer-nav-item
          a(href='#')  Create account
        li.footer-nav-item
          a(href='#')  Sing up
        li.footer-nav-item
          a(href='#')  iOS app
        li.footer-nav-item
          a(href='#')  Android app
    .partner-box
      p.footer-heading Business
      ul.footer-navs
        li.footer-nav-item
          a(href='#')  About CookieDaze
        li.footer-nav-item
          a(href='#') For business
        li.footer-nav-item
          a(href='#') Cooking partner
        li.footer-nav-item
          a(href='#') Careers
    .resources-box
      p.footer-heading Resources
      ul.footer-navs
        li.footer-nav-item
          a(href='#') Recipe directory
        li.footer-nav-item
          a(href='#') Help center
        li.footer-nav-item
          a(href='#') Privacy &amp; terms