header.header
  .main-logo-box
    a(href='#')
      img.main-logo(src='img/logos/main-logo.png' alt='logo of CookieDaze')
  nav.main-nav
    ul.nav-items
      li.nav-item
        a.nav-link(href='#')  Home
      li.nav-item
        a.nav-link(href='#')  About Us 
      li.nav-item
        a.nav-link(href='#catagoryFlavour')  Our Cakes 
      li.nav-item
        a.nav-link(href='#Gallery')  Gallery
      li.nav-item.sing-up-btn-cont
        a.btn.btn-fill.btn-nav-sing-up(href='#') Sing-up
  .mobile-navs
    svg.mobile-nanIcon.hamBerger
      use(xlink:href="img/ssg.svg#hamBerger")
    svg.mobile-nanIcon.navCross
      use(xlink:href="img/ssg.svg#navCross")