// Modal
.modal.hidden
  //- ion-icon.modal-close-btn(name='close-outline')
  svg.modal-close-btn
    use(xlink:href='/img/ssg.svg#cross')
  p.title-modal Join us to taste happiness !
  form.modal-password-rest-form.modal-form.hide
    .modal-div
      label.modal-label(for='verification-email') Your email
      input#verification-email.modal-inp(type='email' name='Email' required=' ')
    button.btn-modal-send_verification_code.modal_btn-action(type='submit') Send verification code
  form.form-login.modal-form
    .modal-div
      label.modal-label(for='login-email') Email
      input#login-email.modal-inp.username-inp(type='email' name='email')
    .modal-div
      label.modal-label(for='login-password') Password 
      input#login-password.modal-inp.password-inp(type='password' name='Password')
      span.forgot-password-text forgot password?
    button.btn-modal-Login.modal_btn-action(type='submit') Login
  p.login-text.hide
    | Already have an account ? 
    span.login-text-btn Login
  a.singup-text(href='/singup')
    | Create a new account ? 
    span.singUp-text-btn Sing up
