doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='CookieDaze offers delectable and healthy cakes for all occasions. Indulge in flavorful delights crafted for kids, health-conscious individuals, and special celebrations. Explore our special offers and testimonials.')
    link(rel="shortcut icon", href="img/fab-icon.png", type="image/x-icon")
    link(rel='apple-touch-icon' href='img/logos/apple-touch.png')
    link(rel='manifest' href='manifest.webmanifest')
    title CookieDaze | Wholesome Cake Joy
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='css/genaral.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/media.css')
  body 
    include _header

    block content
      h1 CONTENT PLACEHOLDER

    include _footer

    script(src="js/mainSecipt.js")
    script(src="js/accounts.js")
