extends base

block append head 
  script(src="/js/resetPassword.js" defer) 


block append content 
  main.main.main-ortherPage
    section.password_reset_section
      .container.password_reset_container(data-token=`${token}`)
        h2.heading-secondary Reset your password
        form.password_reset-form
          .password_rest_inp-container
            label(for='reset_password-new') New password
            input#reset_password-new.password_reset_inp(type='password' name='password' minlength='8')
          .password_rest_inp-container
            label(for='reset_password_confirm-new') Password confirm
            input#reset_password_confirm-new.password_reset_inp(type='password' name='confirmPassword' minlength='8')
          .password_reset_btn-container
            button.btn-password_rest(type='submit')
              | Set password
