/* MEDIA QUARY */
/* **** Media quary for(1200px)[for smaller laptop] **** */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* **** Media quary for(1040px)[for smaller laptop] **** */
@media (max-width: 65em) {
  /* .slide {
    padding: 0rem 5.2rem;
  } */
  .grid {
    column-gap: 1.2rem;
  }
}
/* **** Media quary for(928px)[for bigger tablets] **** */
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
  .cat-btn {
    display: none;
  }
  .section-ourSpeciality .grid {
    column-gap: 3.2rem;
  }
  .section-ourSpeciality .grid--4-col {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* **** Media quary for(848px)[for bigger tablets] **** */
@media (max-width: 53em) {
  /* Impliment mobile navigation */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.4s ease-in;
  }

  .nav-items {
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
  .nav-item .nav-link {
    font-size: 3rem;
    color: #d72036 !important;
  }
  .heading-container {
    width: 80%;
  }
  .mobile-navs {
    display: flex;
    z-index: 99;
  }
  .nav-open .main-nav {
    transform: translateX(0);
  }
  /* .navCross {
      display: none;
    } */
  /* nav-open ==>header */
  .nav-open .hamBerger {
    display: none;
  }
  .nav-open .navCross {
    display: block;
  }
  .grid--4-col {
    grid-template-columns: repeat(3, 1fr);
  }
  .slide {
    top: 56%;
  }
  .title-modal {
    font-size: 3rem;
  }
  .modal-label {
    font-size: 2rem;
  }
  .carts-item-container {
    width: 75%;
    min-height: 90vh;
  }
  .gallery-images {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* **** Media quary for(720px)[for smaller tablets] **** */
@media (max-width: 45em) {
  /* .testimonial-box {
    display: flex;
    flex-direction: column;
  }
  .testimonal-img {
    width: 60%;
    align-self: center;
  } */
  .slide {
    width: 60%;
    left: 21%;
    top: 50%;
  }
  .reviem-text {
    font-size: 2rem;
  }
  .testiminal-auth {
    font-size: 1.8rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-content-box {
    grid-template-columns: 60% 40%;
  }
  .section-catagory .grid {
    column-gap: 1.2rem;
  }
  .grid--3-col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .specialCatgory:last-child {
    grid-column: 1/-1;
    width: 50%;
    justify-self: center;
  }
  .modal {
    width: 70%;
  }
  .modal-div {
    flex-direction: column;
    gap: 0;
  }
  .cake-rating-box {
    grid-template-columns: 20% 20% 60%;
  }
}

/* **** Media quary for(560px)[for bigger mobile] **** */
@media (max-width: 35em) {
  .heading-primary {
    font-size: 4.4rem;
    margin-bottom: 1.2rem;
  }
  .heading-secondary,
  .testimonial-box .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tartiary {
    font-size: 2.2rem;
  }
  .heding-description {
    font-size: 1.6rem;
    margin-bottom: 2.8rem;
  }
  .section-catagory .grid--3-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .cta-content-box {
    grid-template-columns: 1fr;
  }
  .ctaImg {
    height: 32rem;
    grid-row: 1/-1;
  }
  .testimonal-img {
    width: 70%;
  }
  .section-footer {
    padding: 9.6rem 0 4.8rem 0;
  }
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 7.2rem;
  }
  .resources-box,
  .partner-box,
  .Accounts-box {
    grid-row: 1;
    grid-column: span 2;
  }
  .logo-box,
  .contact-box {
    grid-column: span 3;
  }
  .title-modal {
    font-size: 2.4rem;
  }
  .carts-item-container {
    width: 100%;
    min-height: 90vh;
  }
  .cake-rating-box {
    grid-template-columns: 30% 50%;
    row-gap: 1.2rem;
  }
  .add-to-cart {
    grid-column: 1 / span 2;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .gallery-images {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* **** Media quary for(544px)[for bigger mobile] **** */
@media (max-width: 34em) {
  .testimonal-img {
    width: 80%;
  }
  .slide {
    width: 85%;
    left: 10%;
  }
}
/* **** Media quary for(496px)[for medium mobile] **** */

@media (max-width: 31em) {
  .grid--4-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonal-img {
    width: 90%;
  }
  .cta-description {
    font-size: 1.6rem;
  }
}
/* **** Media quary for(448px)[for mobile] **** */

@media (max-width: 28em) {
  .heading-container {
    width: 100%;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .heading-secondary,
  .testimonial-box .heading-secondary {
    font-size: 3rem;
  }
  .heading-tartiary {
    font-size: 2rem;
  }
  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--3-col {
    grid-template-columns: 1fr;
  }
  .specialCatgory,
  .specialCatgory:last-child {
    width: 80%;
    justify-self: center;
  }
  .reviem-text {
    font-size: 1.8rem;
  }
  .modal {
    width: 90%;
  }
  /* .specialCatgory:last-child {
    grid-column: 1/-1;
    width: 100%;
    justify-self: center;
  } */
  .cake-rating-box {
    grid-template-columns: 30% 60%;
  }
}
/* **** Media quary for(400px)[for mobile] **** */

@media (max-width: 25em) {
  .testimonal-img {
    width: 100%;
  }
  .slide {
    width: 85%;
    left: 8%;
    top: 48%;
  }
  .section-ourSpeciality .grid--4-col {
    grid-template-columns: 1fr;
  }
  .speciality {
    width: 85%;
    justify-self: center;
  }
  .section-catagory .grid--3-col {
    grid-template-columns: 1fr;
  }

  .genaral-catagory {
    width: 90%;
    justify-self: center;
  }
}

/* **** Media quary for(336px)[for mobile] **** */

@media (max-width: 25em) {
  .main-logo {
    width: 85%;
  }
  .hero-section {
    background-position: center;
  }
  .slide {
    width: 95%;
    left: 3%;
  }
  .testiminal-auth {
    margin-bottom: 2rem;
  }
  .speciality {
    width: 90%;
  }
  .genaral-catagory {
    width: 100%;
  }
  .specialCatgory,
  .specialCatgory:last-child {
    width: 100%;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2rem;
  }
}

/* ------------------*----------------- */

/* Media Query for Cake page */

/* **** Media quary for(800px) **** */

@media (max-width: 50em) {
  .cake-info {
    grid-template-columns: 15% 50% 35%;
  }
  .cake-image {
    width: 80%;
  }
  .form_addToCart {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .form_addToCart .check-pincode {
    grid-row: 2/3;
  }
  .review_cards {
    padding: 1.2rem 4.8rem;
  }
}

/* **** Media quary for(656px) **** */

@media (max-width: 41em) {
  .cake-info {
    grid-template-columns: 60% 40%;
  }
  .cake-images {
    flex-direction: row;
    grid-column: 1 / span 2;
    gap: 1.2rem;
    justify-content: space-around;
    margin-bottom: 2.4rem;
  }
  .cake-image {
    width: 20%;
  }
  .review_cards {
    padding: 1.2rem 3.2rem;
  }
}
/* **** Media quary for(560px) **** */

@media (max-width: 35em) {
  .cake-info {
    grid-template-columns: 1fr;
  }
  .cake-images {
    grid-column: 1 / span 1;
  }
  .cake-main-img-box,
  .cake-stats {
    width: 80%;
    justify-self: center;
  }
  .cake-description-text {
    padding: 0 0.4rem;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
  }
  .form_addToCart {
    grid-template-columns: repeat(2, 1fr);
  }
  .review_cards {
    padding: 1.2rem 6.4rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* **** Media quary for(480px) **** */

@media (max-width: 30em) {
  .cake-main-img-box,
  .cake-stats {
    width: 95%;
  }
}

/* **** Media quary for(400px) **** */

@media (max-width: 25em) {
  .cake-main-img-box,
  .cake-stats {
    width: 100%;
  }
}

/* ------------------*----------------- */

/* Media Query for Account page */
/* **** Media quary for(672px) **** */

@media (max-width: 42em) {
  .account-details-display {
    padding: 2.4rem;
  }
}
/* **** Media quary for(640px) **** */

@media (max-width: 42em) {
  .option-title {
    display: none;
  }
  .accont-section-container {
    grid-template-columns: 20% 80%;
  }
}
/* **** Media quary for(480px) **** */

@media (max-width: 30em) {
  .accont-section-container {
    grid-template-columns: 1fr;
  }
  .accounts-options {
    flex-direction: row;
  }
  /* .option-select {
    border-left: none;
    fill: #fff3f3;
  } */
  .account-details-form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .account-form-img-container {
    /* grid-column: 1/-1; */
    grid-row: 3 / span 1;
    /* grid-row: 1 / span 2; */
  }
  .account-form-btn-container {
    align-self: flex-end;
  }
  .form-account-password-change {
    width: 100%;
    padding-left: 1.2rem;
  }
  .sidebar {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
  .account-details-display {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
  }
}

/* ------------------*----------------- */

/* Media Query for Billing page */

/* **** Media quary for(640px) **** */

@media (max-width: 40em) {
  .ordered_prodect_card {
    align-items: center;
  }
  .ordered_prodect--delivary {
    align-self: flex-start;
    margin-left: 1.2rem;
  }
  .quantity_btns {
    margin-top: 1.2rem;
  }
  .ordered_prodect_card {
    border-radius: 0.8rem;
  }
  .ordered_prodect--img {
    width: 90%;
    border-radius: 0.8rem;
  }
}

/* **** Media quary for(528px) **** */

@media (max-width: 35em) {
  .ordered_prodect--img {
    width: 100%;
  }
  .ordered_prodect--details {
    margin-left: 2rem;
  }
  .quantity_btns {
    width: 50%;
  }
}

/* **** Media quary for(496) **** */

@media (max-width: 31em) {
  .ordered_prodect_card {
    width: 80%;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .quantity_btns {
    width: 40%;
  }
}
/* ------------------*----------------- */

/* Media Query for Password rest page */

/* **** Media quary for(800px) **** */

@media (max-width: 50em) {
  .password_reset_container {
    max-width: 80rem;
  }
}
/* **** Media quary for(650px) **** */

@media (max-width: 40em) {
  .password_reset_container {
    max-width: 70rem;
  }
  .password_reset_inp {
    width: 50rem;
  }
  .alert_window {
    padding: 2.4rem;
    width: 70%;
  }
}
/* **** Media quary for(560px) **** */

@media (max-width: 35em) {
  .password_reset_container {
    max-width: 60rem;
  }
  .password_reset_inp {
    width: 40rem;
  }
}
/* **** Media quary for(480px) **** */

@media (max-width: 30em) {
  .password_reset_container {
    max-width: 50rem;
  }
  .password_reset_inp {
    width: 40rem;
  }
  .alert_window {
    padding: 2.4rem 1.2rem;
    width: 70%;
  }
}
/* **** Media quary for(416px) **** */

@media (max-width: 26em) {
  .password_reset_container {
    max-width: 40rem;
  }
  .password_reset_inp {
    width: 35rem;
  }
}

/* ------------------*----------------- */

/* Media Query for Singup page */

/* **** Media quary for(768px) **** */

@media (max-width: 48em) {
  .form-container {
    width: 90% !important;
  }
}

/* **** Media quary for(592px) **** */

@media (max-width: 48em) {
  .form-container {
    width: 95% !important;
    padding: 3.2rem;
  }
}

/* **** Media quary for(496px) **** */

@media (max-width: 31em) {
  .form-container {
    width: 90% !important;
  }
  .singup-form {
    grid-template-columns: 1fr;
  }
  .singup_inp-conatiner-file {
    grid-column: 1 / span 1;
  }
  .singup_btn-container {
    grid-column: 1 / span 1;
  }
}
/* ------------------*----------------- */

/* Media Query for Error page */

/* **** Media quary for(600px) **** */

@media (max-width: 37em) {
  .error-text {
    font-size: 3.6rem;
  }
  .error-message {
    font-size: 2.8rem;
  }
  .error-message-genral {
    font-size: 1.6rem;
  }
}

/* **** Media quary for(420px) **** */

@media (max-width: 26em) {
  .error-text {
    font-size: 3rem;
  }
  .error-message {
    font-size: 2.2rem;
  }
  .error-message-genral {
    font-size: 1.4rem;
  }
}
